.userInputForm {
    text-align: center;
}
.userInput {
    max-width: 100%;
}

.submitButton {
    margin-top: 5px;
}

.key {
    display: inline;
    vertical-align: middle;
    padding-right: 1rem;
}

.copy-button {
    margin: 5px;
}